.container98{
    margin:0 auto;
    max-width:1280px;
    width:90%
}
@media only screen and (min-width: 601px){
    .container98{
        width:85%
    }
}
@media only screen and (min-width: 993px){
    .container98{
        width:98%
    }
}

.container80{
    margin:0 auto;
    max-width:1280px;
    width:90%
}
@media only screen and (min-width: 601px){
    .container80{
        width:85%
    }
    .cien-vh{
        height: 100vh;
    }
}
@media only screen and (min-width: 993px){
    .container80{
        width:80%
    }
    .cien-vh{
        height: 100vh;
    }
    .paquete-1{
        margin-top: 40px;
    }
    .paquete-2{
        padding-bottom: 40px !important;
    }
    .paquete-3{
        margin-top: 40px;
    }
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.sidenav-triger, nav a.sidenav-trigger i {
        height: 80px;
        line-height: 80px;
    }
}

nav{
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.logo-nav{
    margin-top: 35px;
    width: 270px;
    background-color: white;
}

.slider .indicators .indicator-item.active {
    background-color: rgb(20, 117, 197) !important;
}

.margin-top-0{
    margin-top: 0;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.spacing50{
    height: 50px;
}

.spacing100{
    height: 100px;
}
hr{
    border: solid 1px rgb(20, 117, 197);
}

.azul-text{
    color: rgb(20, 117, 197);
}

.nosotros-1{
    background-image: url(../images/Architecture.jpg);
    background-size: cover;
    height: 500px;
}

.nosotros{
    background-image: url(../images/about-6-960x646.jpg);
    background-size: cover;
    height: 500px;
}
.gates{
    background-image: url(../images/gates.png);
    background-size: contain;
    height: 148px;
}
.gates:hover{
    background-image: url(../images/gates.jpg);
}
.hellerman{
    background-image: url(../images/hellerman.png);
    background-size: contain;
    height: 150px;
}
.hellerman:hover{
    background-image: url(../images/hellerman.jpg);
}
.collapsible-body{
    background-image: url(../images/gates-collapse.png);
    background-size: cover;
    padding: 5px;
}